<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BookMapper">


    <resultMap id="BaseResultMap" type="com.example.demo.domain.Book">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="writer" property="writer" />
        <result column="introduction" property="introduction" />
        <result column="version_date" property="versionDate" />
    </resultMap>
    <sql id="Base_Column_List">
        id, name, writer, introduction,version_date as versionDate
    </sql>
    
    <select id="findAll" resultType="com.example.demo.domain.Book">
        select
        <include refid="Base_Column_List" />
        from t_book
    </select>
    
    <select id="findById" parameterType="long" resultType="com.example.demo.domain.Book">
        select 
        <include refid="Base_Column_List" /> 
        from t_book where id = #{id}
    </select>
    
    <select id="findByName" parameterType="string" resultType="com.example.demo.domain.Book">
      select 
      <include refid="Base_Column_List" />
       from t_book where name like concat("%",#{name},"%");
    </select>
    <insert id="insert" parameterType="com.example.demo.domain.Book">
        insert into t_book 
        (name, writer, introduction,version_date)
        value(#{name},#{writer},#{introduction},now())
    </insert>
    
    <update id="update" parameterType="com.example.demo.domain.Book">
        update t_book 
        set name = #{name},writer=#{writer},
        introduction = #{introduction} ,
        version_date = now()  where id = #{id}
    </update>
    
    <delete id="delete" parameterType="long">
      delete from t_book where id = #{id}
    </delete>
</mapper>